---

---

<div class="w-full h-56 relative mt-96">
	<span
		class="numberText text-[20vw] font-[Satoshi-Bold] absolute right-0 mr-10"
		>01</span
	>
	<!-- todo on scroll, drag 01 01 01 01 01 01 01 01 acrros the background of the screen for sudblty
			 on s -->
	<span class="numberText2 text-4xl font-[Satoshi-Bold] absolute"
		>Next Section or something</span
	>
</div>
