---
import Layout from '../layouts/Layout.astro';
import ThemeToggle from '../components/ThemeToggle.jsx';
import Navbar from '../components/Navbar.astro';

/**
	astro preferences disable devToolbar
	(for lighthouse in dev)
*/
export const prerender = true;
---

<Layout
	title="Aspine"
	description="Aspen, reborn. More features, better UI, and a team that is for students, by students."
	favicon="/favicon.svg"
	bodyClasses="bg-[var(--bg-color)] text-[var(--secondary-color)] overflow-hidden"
>
	<main class="px-safe">
		<Navbar />
		<div
			class="flex flex-col mx-auto my-[5vh] pt-20 items-center justify-center"
		>
			<h1
				class="mx-auto text-center max-w-[80vw] font-['Satoshi-Black'] text-[var(--text-color-light)] text-[12vh] 2xl:text-8xl xl:text-8xl lg:text-7xl md:text-5xl left-1/2 2xl:mt-[10vh] xl:mt-32 lg:mt-12 md:m-8 mb-4 2xl:mb-8 xl:mb-8 lg:mb-8"
			>
				Welcome to<span class="text-[var(--primary-color)] heroText"
					>&nbsp;Aspine <span class="heroText font-[Satoshi-Italic]"
						>v3</span
					></span
				><br />
				<span class="font-[Satoshi-Black]">Aspen</span>, <span
					class="heroText2 font-[Satoshi-LightItalic]">reborn</span
				>
				<br />
			</h1>
			<p
				class="my-4 text-center font-[Satoshi-BoldItalic] text-lg text-[var(--text-color-light2)]"
			>
				More features, better UI, and a team that is for students, by
				students.
			</p>
			<p
				class="text-lg text-center my-4 font-[Satoshi-Light] text-[var(--text-color-light3)] max-w-2xl"
			>
				Aspine has been a major part of student quality of life at CRLS.
				Aspine v3 combines the speed of modern tools, and the features
				of the original Aspine. Aspine v3 is the faster, cleaner and
				more modern Aspen.
			</p>
			<div class="translate-y-2 space-x-6 text-sm flex tracking-widest">
				<a
					href="/dash"
					class="border-gradient-2 rounded-full border-0 px-12 py-3 font-[Satoshi-Bold]"
					>GET STARTED</a
				>
				<a
					href="/dash"
					class="border-gradient-1 rounded-full border-0 px-12 py-3 font-[Satoshi-Bold]"
					>HOW DOES IT WORK?</a
				>
			</div>
		</div>

		<div
			class="blob -z-50 blur-[128px] w-2/5 h-96 bg-[var(--background-gradient-end)] absolute -right-64 top-[75vh] rounded-full"
		>
		</div>

		<div
			class="w-[200vw] bottomBlur blur-[128px] h-[145vh] bg-[var(--bg-color)] rounded-full absolute left-1/2 -translate-x-1/2 bottom-0 translate-y-[165vh] -z-10"
		>
		</div>
		<!--
			<ThemeToggle client:only="preact" />
		-->
	</main>
</Layout>
