---
// index.astro
import '../styles/dist/global.css';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Aspine</title>
	</head>
	<body class="bg-black text-[#e5eae7]">
		<main class="px-safe overflow-hidden">
			<header
				class="pt-safe sticky top-0 z-40 bg-black/40 text-white backdrop-blur"
			>
				<nav class="mx-auto px-8 py-6">
					<div
						class="flex flex-wrap place-content-between place-items-center"
					>
						<a href="/" class="cta flex flex-row">
							<img
								src="https://raw.githubusercontent.com/Aspine/aspine/master/public/images/logo-circle512x512.png"
								alt="Aspine Logo"
								class="mr-5 h-8 w-8 z-50"
							/>
							<span
								class="logoText font-['Satoshi-Bold'] text-2xl tracking-wider"
								>Aspine</span
							>
						</a>

						<ul class="hidden space-x-8 text-sm lg:flex">
							<li class="navElement py-4">How Does It Work?</li>
							<li class="navElement py-4">
								<a href="https://aspen.cpsd.us">Aspen</a>
							</li>
							<li class="py-4">
								<hr class="h-[21px] w-1 border-l border-t-0" />
							</li>
							<li class="navElement py-4">Contributing</li>
							<li class="navElement py-4">Changelog</li>
							<li class="navElement py-4">Uptime</li>
							<li class="py-4">
								<hr class="h-[21px] w-1 border-l border-t-0" />
							</li>
							<li class="navElement py-4">License</li>
						</ul>
						<div class="flex space-x-4 text-sm">
							<a
								href="/login"
								class="border-gradient-1 rounded-full border-0 px-8 py-2"
								>Login</a
							>
							<a
								href="/github"
								class="border-gradient-2 rounded-full border-0 px-8 py-2"
								>GitHub</a
							>
						</div>
					</div>
				</nav>
			</header>
			<div>
				<h1></h1>
			</div>
		</main>
	</body>
</html>
