---
import Layout from '../layouts/Layout.astro';
import GetSessionPrompt from '../components/getSessionPrompt.jsx';
import Navbar from '../components/Navbar.astro';

// I wanna go for this kinda vibe: https://codepen.io/elujambio/pen/YLMVed

export const prerender = true;
---

<Layout
	title="Aspine"
	description="Aspen, reborn. More features, better UI, and a team that is for students, by students."
	favicon="/favicon.svg"
	bodyClasses="bg-[var(--bg-color)] text-[var(--secondary-color)] overflow-hidden"
>
	<main class="px-safe">
		<Navbar />
		<div
			class="flex flex-col mx-auto my-[5vh] pt-20 items-center justify-center"
		>
			<div class="relative">
				<div
					class="absolute w-24 h-11 rounded-lg bg-[#7878780b] -translate-x-2 -translate-y-2 backdrop-blur-md hover:translate-x-0 hover:translate-y-0 transition-transform"
				>
					Text
				</div>
				<div
					class="absolute w-24 h-11 rounded-lg bg-gradient-to-r from-[var(--background-gradient-start)] to-[var(--orange-gradient-start)] -z-10"
				>
				</div>
			</div>
		</div>

		<div
			class="blob -z-50 blur-[128px] w-2/5 h-96 bg-[var(--background-gradient-end)] absolute -right-64 top-[75vh] rounded-full"
		>
		</div>

		<div
			class="w-[200vw] bottomBlur blur-[128px] h-[145vh] bg-[var(--bg-color)] rounded-full absolute left-1/2 -translate-x-1/2 bottom-0 translate-y-[165vh] -z-10"
		>
		</div>

		<GetSessionPrompt client:load />
		<!--
			client:only="preact" if it doesnt need to render on the server.
			This only needs to render on the server because I made it append the
			session id to a div. Thats only for testing obv. (for conrad)
		-->
	</main>
</Layout>
