@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #4ade80;
	--secondary-color: #e5eae7;
	--accent-color: #818a82;
	--background-dark: #000c02;
	--background-medium-dark: #263728;
	--background-light: #5f6461;
	--background-lighter: #7d8b82;
	--background-gradient-start: #bafbdc;
	--background-gradient-mid: #87fcc4;
	--background-gradient-end: #48c288;
	--text-color-dark: #101010;
	--text-color-light: #fff;
	--text-color-light2: #ffffff8e;
	--text-color-light3: #ffffff75;
	--orange-gradient-start: #febe73;
	--transparent: transparent;
	--bg-color: black;
	--bg-nav: rgb(0 0 0 / 0.7);
	--bg-nav2: #4ade8051;
}

[data-theme='dark'] {
	--primary-color: #4ade80;
	--secondary-color: #e5eae7;
	--accent-color: #818a82;
	--background-dark: #000c02;
	--background-medium-dark: #263728;
	--background-light: #5f6461;
	--background-lighter: #7d8b82;
	--background-gradient-start: #bafbdc;
	--background-gradient-mid: #87fcc4;
	--background-gradient-end: #48c288;
	--text-color-dark: #101010;
	--text-color-light: #fff;
	--text-color-light2: #ffffff8e;
	--text-color-light3: #ffffff68;
	--orange-gradient-start: #febe73;
	--transparent: transparent;
	--bg-color: black;
	--bg-nav: rgb(0 0 0 / 0.7);
	--bg-nav2: #4ade8051;
}

[data-theme='light'] {
	--primary-color: #de4ab7;
	--secondary-color: #dadada;
	--accent-color: #8a8189;
	--background-dark: #0c0008;
	--background-medium-dark: #372636;
	--background-light: #645f63;
	--background-lighter: #8b7d87;
	--background-gradient-start: #fbbae0;
	--background-gradient-mid: #fc87d5;
	--background-gradient-end: #c2489f;
	--text-color-dark: #dcdcdc;
	--text-color-light: #000000;
	--orange-gradient-start: #febe73;
	--transparent: transparent;
	--bg-color: rgb(116, 116, 116);
	--bg-nav2: rgba(38, 41, 35, 0.301);
}

@layer components {
	.border-gradient-1 {
		@apply relative rounded-full border-none border-transparent text-[var(--secondary-color)];
		background:
			radial-gradient(
					88.21% 120.63% at 89.25% 12.7%,
					var(--background-lighter) 0%,
					var(--background-light) 22.5%,
					var(--background-medium-dark) 53%,
					var(--background-dark) 100%
				)
				padding-box,
			var(--transparent);
		box-shadow:
			-1px 1px 10px -5px var(--primary-color),
			5px -1px 10px -5px var(--secondary-color);
		transition:
			box-shadow 0.3s ease,
			transform 0.3s ease;
		transform-origin: center center;
	}

	.border-gradient-1:hover {
		box-shadow:
			-5px 1px 15px -5px var(--primary-color),
			5px -1px 20px -5px var(--secondary-color);
	}

	.border-gradient-1::before {
		content: '';
		position: absolute;
		top: -1.5px;
		left: -1.5px;
		right: -1.5px;
		bottom: -1.5px;
		z-index: -1;
		pointer-events: none;
		background: conic-gradient(
			from 180deg at 50% 50%,
			var(--accent-color) 0deg,
			var(--background-medium-dark) 38deg,
			var(--primary-color) 72deg,
			var(--background-dark) 120deg,
			var(--secondary-color) 240deg,
			var(--accent-color) 338deg
		);
		border-radius: inherit;
		transition: transform 0.3s ease;
	}

	.border-gradient-1:hover::before {
		transform: scale(1);
	}

	.border-gradient-2 {
		@apply relative origin-center rounded-full border-none border-transparent text-[var(--text-color-dark)];
		background:
			radial-gradient(
					88.21% 120.63% at 89.25% 12.7%,
					var(--background-gradient-start) 15%,
					var(--background-gradient-mid) 41%,
					var(--background-gradient-end) 100%
				)
				padding-box,
			var(--transparent);
		box-shadow:
			-1px 1px 10px -5px var(--primary-color),
			5px -1px 10px -5px var(--primary-color);
		transition:
			box-shadow 0.3s ease,
			transform 0.3s ease;
		transform-origin: center center;
		transform: scale(1.075);
	}

	.border-gradient-2:hover {
		box-shadow:
			-5px 1px 10px -5px var(--primary-color),
			5px -1px 25px -5px var(--primary-color);
	}

	.border-gradient-3 {
		@apply relative border-none border-transparent;
		background: var(--bg-color);
		box-shadow:
			5px -5px 5px -15px var(--primary-color),
			-5px 5px 5px -15px var(--primary-color);
		transition: box-shadow 0.3s ease;
	}

	.border-gradient-3:hover {
		box-shadow:
			5px -5px 10px -10px var(--primary-color),
			-5px 5px 10px -10px var(--primary-color);
	}

	.border-gradient-3::before {
		content: '';
		position: absolute;
		top: -1.5px;
		left: -1.5px;
		right: -1.5px;
		bottom: -1.5px;
		z-index: -1;
		background: conic-gradient(
			from 180deg at 50% 50%,
			var(--bg-color) 24deg,
			var(--primary-color) 72deg,
			var(--bg-color) 120deg,
			var(--bg-color) 196deg,
			var(--primary-color) 240deg,
			var(--bg-color) 300deg,
			var(--bg-color) 360deg
		);
		border-radius: inherit;
	}

	.logoText {
		background: linear-gradient(
			45deg,
			var(--primary-color),
			var(--text-color-light) 80%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.heroText {
		background: radial-gradient(
			88.21% 120.63% at 89.25% 12.7%,
			var(--background-gradient-start) 15%,
			var(--background-gradient-mid) 41%,
			var(--background-gradient-end) 100%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: 'Satoshi-BoldItalic';
	}

	.heroText2 {
		background: radial-gradient(
			88.21% 120.63% at 89.25% 12.7%,
			var(--background-gradient-start) 15%,
			#87fcc372 56%,
			var(--orange-gradient-start) 100%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: 'Satoshi-BoldItalic';
	}

	.navElement {
		display: inline-block;
		position: relative;
		background: linear-gradient(
			45deg,
			var(--text-color-light),
			var(--primary-color) 80%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		transition:
			background-position 0.3s ease-in-out,
			background-size 0.3s ease-in-out;
		background-size: 1000% 1000%;
		background-position: 0% 100%;
		cursor: pointer;
	}

	.navElement:hover {
		background: linear-gradient(
			45deg,
			var(--text-color-light),
			var(--primary-color) 80%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 1000% 1000%;
		background-position: 50% 0%;
	}

	.navElement::after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0) translateY(-15px);
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: var(--primary-color);
		transform-origin: bottom right;
		transition: transform 0.3s ease-in-out;
	}

	.navElement:hover::after {
		transform: scaleX(1) translateY(-15px);
		transform-origin: bottom left;
	}

	.text-stroke-transparent {
		-webkit-text-stroke: 1px var(--transparent);
	}

	.\!text-stroke-transparent {
		-webkit-text-stroke: 1px var(--transparent) !important;
	}

	.big-number-text-gradient-orange {
		background-image: linear-gradient(
			180deg,
			var(--orange-gradient-start) -87.81%,
			rgba(255, 190, 114, 0.06) 99.22%
		);
	}

	.gradient-stroke-text {
		color: var(--text-color-dark);
		background: radial-gradient(
			88.21% 120.63% at 89.25% 12.7%,
			var(--background-gradient-start) 15%,
			var(--background-gradient-mid) 41%,
			var(--background-gradient-end) 100%
		);
		-webkit-background-clip: text;
		-webkit-text-stroke: 3px var(--transparent);
	}

	.getStarted {
		animation: fade-in-top 1s ease 1.5s;
	}

	.bottomBlur {
		transition: all 0.3s ease;
		animation: come-in-top 5s !important;
	}

	.nav2 {
		background: radial-gradient(
			100% 100% at 50% 50%,
			var(--bg-nav2) 0%,
			transparent 50%
		);
	}
}

@keyframes fade-in-top {
	0% {
		top: 5rem;
	}

	100% {
		top: 0;
	}
}

@keyframes come-in-top {
	0% {
		transform: translateY(35vh) translateX(-50%);
		z-index: 10;
	}

	100% {
		transform: translateY(165vh) translateX(-50%);
		z-index: 10;
	}
}

* {
	font-family: 'Satoshi-Regular';
}

@font-face {
	font-family: 'Satoshi-Variable';
	src:
		url('/assets/fonts/Satoshi-Variable.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-Variable.woff') format('woff'),
		url('/assets/fonts/Satoshi-Variable.ttf') format('truetype');
	font-weight: 300 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-VariableItalic';
	src:
		url('/assets/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-VariableItalic.woff') format('woff'),
		url('/assets/fonts/Satoshi-VariableItalic.ttf') format('truetype');
	font-weight: 300 900;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Satoshi-Light';
	src:
		url('/assets/fonts/Satoshi-Light.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-Light.woff') format('woff'),
		url('/assets/fonts/Satoshi-Light.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-LightItalic';
	src:
		url('/assets/fonts/Satoshi-LightItalic.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-LightItalic.woff') format('woff'),
		url('/assets/fonts/Satoshi-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Satoshi-Regular';
	src:
		url('/assets/fonts/Satoshi-Regular.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-Regular.woff') format('woff'),
		url('/assets/fonts/Satoshi-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-Italic';
	src:
		url('/assets/fonts/Satoshi-Italic.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-Italic.woff') format('woff'),
		url('/assets/fonts/Satoshi-Italic.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Satoshi-Medium';
	src:
		url('/assets/fonts/Satoshi-Medium.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-Medium.woff') format('woff'),
		url('/assets/fonts/Satoshi-Medium.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-MediumItalic';
	src:
		url('/assets/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-MediumItalic.woff') format('woff'),
		url('/assets/fonts/Satoshi-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Satoshi-Bold';
	src:
		url('/assets/fonts/Satoshi-Bold.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-Bold.woff') format('woff'),
		url('/assets/fonts/Satoshi-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-BoldItalic';
	src:
		url('/assets/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-BoldItalic.woff') format('woff'),
		url('/assets/fonts/Satoshi-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Satoshi-Black';
	src:
		url('/assets/fonts/Satoshi-Black.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-Black.woff') format('woff'),
		url('/assets/fonts/Satoshi-Black.ttf') format('truetype');
	font-weight: 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-BlackItalic';
	src:
		url('/assets/fonts/Satoshi-BlackItalic.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-BlackItalic.woff') format('woff'),
		url('/assets/fonts/Satoshi-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-display: swap;
	font-style: italic;
}
