@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.border-gradient-1 {
		@apply relative rounded-full border-4 border-transparent text-[#e5eae7];
		background:
			radial-gradient(
					88.21% 120.63% at 89.25% 12.7%,
					#7d8b82 0%,
					#5f6461 22.5%,
					#263728 53%,
					#000c02 100%
				)
				padding-box,
			transparent;
		box-shadow:
			-1px 1px 10px -5px #4ade80,
			5px -1px 10px -5px #e5eae7;
		transition:
			box-shadow 0.3s ease,
			transform 0.3s ease;
		transform-origin: center center;
	}

	.border-gradient-1:hover {
		box-shadow:
			-5px 1px 15px -5px #4ade80,
			5px -1px 20px -5px #e5eae7;
	}

	.border-gradient-1::before {
		content: '';
		position: absolute;
		top: -1.5px;
		left: -1.5px;
		right: -1.5px;
		bottom: -1.5px;
		z-index: -1;
		pointer-events: none;
		background: conic-gradient(
			from 180deg at 50% 50%,
			#818a82 0deg,
			#305533 38deg,
			#4ade80 72deg,
			#263728 120deg,
			#e5eae7 240deg,
			#818a82 338deg
		);
		border-radius: inherit;
		transition: transform 0.3s ease;
	}

	.border-gradient-1:hover::before {
		transform: scale(1);
	}

	.border-gradient-2 {
		@apply relative rounded-full border-4 border-transparent text-[#101010];
		background:
			radial-gradient(
					88.21% 120.63% at 89.25% 12.7%,
					#bafbdc 15%,
					#87fcc4 41%,
					#48c288 100%
				)
				padding-box,
			transparent;
		box-shadow:
			-1px 1px 10px -5px #4ade80,
			5px -1px 10px -5px #4ade80;
		transition:
			box-shadow 0.3s ease,
			transform 0.3s ease;
		transform-origin: center center;
		transform: scale(1.075);
	}

	.border-gradient-2:hover {
		box-shadow:
			-5px 1px 10px -5px #4ade80,
			5px -1px 25px -5px #4ade80;
	}

	.border-gradient-3 {
		@apply relative rounded-full border-4 border-transparent;
		background:
			linear-gradient(black, black) padding-box,
			transparent;
		box-shadow:
			5px -5px 5px -5px #4ade80,
			-5px 5px 5px -5px #4ade80;
		transition: box-shadow 0.3s ease;
	}

	.border-gradient-3:hover {
		box-shadow:
			5px -5px 10px -5px #4ade80,
			-5px 5px 10px -5px #4ade80;
	}

	.border-gradient-3::before {
		content: '';
		position: absolute;
		top: -1.5px;
		left: -1.5px;
		right: -1.5px;
		bottom: -1.5px;
		z-index: -1;
		background: conic-gradient(
			from 180deg at 50% 50%,
			#000 24deg,
			#4ade80 72deg,
			#000 120deg,
			#000 196deg,
			#4ade80 240deg,
			#000 300deg,
			#000 360deg
		);
		border-radius: inherit;
	}

	.logoText {
		background: linear-gradient(45deg, #4ade80, #fff 80%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.heroText {
		background: radial-gradient(
			88.21% 120.63% at 89.25% 12.7%,
			#bafbdc 15%,
			#87fcc4 41%,
			#48c288 100%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-family: 'Satoshi-BoldItalic';
	}

	/*
	.cta {
		position: relative;
		transition: all 0.3s ease;
	}

	.cta::before {
		content: '';
		position: absolute;
		display: block;
		border-radius: 28px;
		background: #4ade8040;
		width: 56px;
		height: 56px;
		transition: all 0.3s ease;
		margin-left: -12px;
		margin-top: -12px;
		z-index: 0;
	}

	.cta span {
		position: relative;
	}

	.cta:hover::before {
		width: 125%;
		background: #4ade8040;
	}
*/

	.navElement {
		display: inline-block;
		position: relative;
		background: linear-gradient(45deg, #fff, #4ade80 80%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		transition:
			background-position 0.3s ease-in-out,
			background-size 0.3s ease-in-out;
		background-size: 1000% 1000%;
		background-position: 0% 100%;
		cursor: pointer;
	}

	.navElement:hover {
		background: linear-gradient(45deg, #fff, #4ade80 80%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 1000% 1000%;
		background-position: 50% 0%;
	}

	.navElement::after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0) translateY(-15px);
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: #4ade80;
		transform-origin: bottom right;
		transition: transform 0.3s ease-in-out;
	}

	.navElement:hover::after {
		transform: scaleX(1) translateY(-15px);
		transform-origin: bottom left;
	}

	.text-stroke-transparent {
		-webkit-text-stroke: 1px transparent;
	}

	.\!text-stroke-transparent {
		-webkit-text-stroke: 1px transparent !important;
	}

	.big-number-text-gradient-orange {
		background-image: linear-gradient(
			180deg,
			#febe73 -87.81%,
			rgba(255, 190, 114, 0.06) 99.22%
		);
	}

	.gradient-stroke-text {
		color: #101010;
		background: radial-gradient(
			88.21% 120.63% at 89.25% 12.7%,
			#bafbdc 15%,
			#87fcc4 41%,
			#48c288 100%
		);
		-webkit-background-clip: text;
		-webkit-text-stroke: 3px transparent;
	}

	.getStarted {
		transform: translateX(-100%) !important;
	}

	.italianno-regular {
		font-family: 'Italianno', cursive;
		font-weight: 400;
		font-style: normal;
	}
}

* {
	font-family: 'Satoshi-Regular';
}

@font-face {
	font-family: 'Satoshi-Variable';
	src:
		url('/assets/fonts/Satoshi-Variable.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-Variable.woff') format('woff'),
		url('/assets/fonts/Satoshi-Variable.ttf') format('truetype');
	font-weight: 300 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-VariableItalic';
	src:
		url('/assets/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-VariableItalic.woff') format('woff'),
		url('/assets/fonts/Satoshi-VariableItalic.ttf') format('truetype');
	font-weight: 300 900;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Satoshi-Light';
	src:
		url('/assets/fonts/Satoshi-Light.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-Light.woff') format('woff'),
		url('/assets/fonts/Satoshi-Light.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-LightItalic';
	src:
		url('/assets/fonts/Satoshi-LightItalic.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-LightItalic.woff') format('woff'),
		url('/assets/fonts/Satoshi-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Satoshi-Regular';
	src:
		url('/assets/fonts/Satoshi-Regular.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-Regular.woff') format('woff'),
		url('/assets/fonts/Satoshi-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-Italic';
	src:
		url('/assets/fonts/Satoshi-Italic.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-Italic.woff') format('woff'),
		url('/assets/fonts/Satoshi-Italic.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Satoshi-Medium';
	src:
		url('/assets/fonts/Satoshi-Medium.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-Medium.woff') format('woff'),
		url('/assets/fonts/Satoshi-Medium.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-MediumItalic';
	src:
		url('/assets/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-MediumItalic.woff') format('woff'),
		url('/assets/fonts/Satoshi-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Satoshi-Bold';
	src:
		url('/assets/fonts/Satoshi-Bold.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-Bold.woff') format('woff'),
		url('/assets/fonts/Satoshi-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-BoldItalic';
	src:
		url('/assets/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-BoldItalic.woff') format('woff'),
		url('/assets/fonts/Satoshi-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'Satoshi-Black';
	src:
		url('/assets/fonts/Satoshi-Black.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-Black.woff') format('woff'),
		url('/assets/fonts/Satoshi-Black.ttf') format('truetype');
	font-weight: 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-BlackItalic';
	src:
		url('/assets/fonts/Satoshi-BlackItalic.woff2') format('woff2'),
		url('/assets/fonts/Satoshi-BlackItalic.woff') format('woff'),
		url('/assets/fonts/Satoshi-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-display: swap;
	font-style: italic;
}
