---
import Lucide from './Lucide.astro';
---

<header
	class="pt-safe !fixed top-0 z-40 bg-[rgba(0,0,0,0.7)] text-[#fff] backdrop-blur-[20px] w-[100vw]"
>
	<nav class="px-8 py-6 mx-auto max-w-[1480px] z-40">
		<div class="flex flex-wrap place-content-between place-items-center">
			<div class="cta flex flex-row xl:w-80">
				<a href="/">
					<Lucide
						class="mr-2"
						name="tree-pine"
						color="#4ade80"
						size={32}
						aria-label="Aspine Logo"
					/>
				</a>

				<a
					href="/"
					class="logoText font-['Satoshi-Bold'] text-2xl tracking-wider"
					>Aspine</a
				>
			</div>

			<ul class="hidden space-x-8 text-sm xl:flex justify-center">
				<li class="navElement py-4">How Does It Work?</li>
				<li class="navElement py-4">
					<a href="https://aspen.cpsd.us">Aspen</a>
				</li>
				<li class="navElement py-4">Contributing</li>
				<li class="navElement py-4">
					<a href="/license">License</a>
				</li>
			</ul>
			<div class="flex space-x-6 text-sm xl:w-80 tracking-widest">
				<a
					href="/login"
					class="button font-[Satoshi-Bold] rounded-full"
				>
					<div class="blob1"></div>
					<div class="blob2"></div>
					<div
						class="inner-button px-12 font-[Satoshi-Bold] content-center"
					>
						LOGIN
					</div>
				</a>
				<a
					href="https://github.com/aspine/aspine3"
					class="cursor-pointer text-white bg-gradient-to-r from-gray-800 to-black rounded-full border-[1.5px] border-gray-600 duration-300 hover:text-gray-500 hover:border-gray-700 hover:from-gray-900 hover:to-black px-12 py-3 font-[Satoshi-Bold] content-center"
					>GITHUB
				</a>
			</div>
		</div>
	</nav>
	<div
		class="w-[65%] absolute h-1 nav2 left-1/2 -translate-x-1/2 -translate-y-0.5"
	>
	</div>
	<div
		class="w-[75%] absolute h-1 blur-[2px] nav2 left-1/2 -translate-x-1/2 -translate-y-1 -z-10"
	>
	</div>
</header>
